@media (min-width:2319px){
    body{
        background-image: url(../img/personagens-maiores-resolucoes.jpg) !important;
        background-repeat: no-repeat; 
    }
    .container-chapolin{
        background-image: url(../img/chapolin-telas-maiores.png) !important;
    }
}

@keyframes pulse_animation {
	0% { transform: scale(1.08); }
	30% { transform: scale(1); }
	40% { transform: scale(1.08); }
	50% { transform: scale(1); }
	60% { transform: scale(1.08); }
	70% { transform: scale(1); }
	80% { transform: scale(1); }
	100% { transform: scale(1.08); }
}

.pulse{
	animation-name: pulse_animation;
	animation-duration: 1s;
	transform-origin:70% 70%;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}

body{     
    background-image: url(../img/personagens.jpg);
    background-repeat: no-repeat; 
}

.navbar{
	text-align: right;
    margin: 10px;
    box-shadow: 0 8px 24px 10px #000;
    background-color: #000;
}

.logo{
	float: left;
    color: #fff;
    background-color: #930202;
    padding: 5px;
	margin-left: 20px;
	font-weight: bold;
}

.logo:before {
	content: 'CH';
	color: #930202;
	position: absolute;
    top: 14px;
    left: 34px;
}

.menu{
    list-style: none;
    color: #fff;
    font-size: 20px;
    text-align: right;
    display: inline-block;
    padding: 7px 19px 0 20px;
}

.links,.links:hover{
	color: #fff;
	text-decoration: none;
	font-family: cursive;
}

/* .container{
    width:100%;
    background-image: url(../img/personagens.jpg);
    background-repeat: no-repeat;   
}   */

.coracao{
    background-image: url(../img/chapolin-logo.png);
    width: 290px;
    height: 290px;
    margin: 0 auto;
}

.container-ipsum{   
    float: right;
    color: #fff;
    width: 320px;
    background-color: #000;
    font-family: cursive;
    font-size: 16px;
    padding: 13px;
    border-radius: 10px;
    margin: 0 30px 60px 0;
}

.botoes_menu{
    margin-top: 6px;    
    position: relative;
    left: 50%;
    width: 500px;
}

.quantidade-frases{
	list-style: none;
	display: inline-block;	
	width:40px;
	height:40px;
	background:#ef0808;
	color:#fef200;
    padding: 4px 13px;
    margin: 6px;
	font-size: 25px;
	font-weight: normal;
	cursor: pointer;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
}

.gerar_chapolin:hover{
	background:#fef200;
	color:#ef0808;
	border:3px solid #ef0808;
	padding: 1px 10px;
	padding: 15px 0px 0px 120px;
}

.quantidade-frases:hover,.quantidade-frases.active{
	background:#fef200;
	color:#ef0808;
	border:3px solid #ef0808;
	padding: 1px 10px;
}

.texto-chapolin { 
    position: absolute;
    left: 52%;    
    width: 450px;
    height: 155px;
    overflow-y: scroll;
    resize: none;
    margin: 10px 0px 0px 6px;
    padding: 20px 15px 20px 20px;	
    padding: 20px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    font-size:14px;
    border-radius: 5px;
    -webkit-box-shadow: 2px 2px 5px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    2px 2px 5px 0px rgba(50, 50, 50, 0.75);
    box-shadow:         2px 2px 5px 0px rgba(50, 50, 50, 0.75);    
}

.gerar_chapolin{
    position: absolute;
    left: 52%;     
	width: 450px;
    height: 60px;
    background: #ef0808;
    color: #fef200;
    font-family: cursive;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    font-size: 19px;
    margin: 180px 0px 0px 6px;
    padding: 15px 0px 0px 120px;
    -webkit-box-shadow: 2px 2px 5px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow: 2px 2px 5px 0px rgba(50, 50, 50, 0.75);
    box-shadow: 2px 2px 5px 0px rgba(50, 50, 50, 0.75);
    cursor: pointer;
}

.container-chapolin{
    background-image: url(../img/chapolin_.png);
    background-repeat: no-repeat;
    width: 100%;
    height: 335px;    
}