body{    
    background-image: url(../img/personagens.jpg);
    background-repeat: no-repeat;  
}

.menu{
    list-style: none;
    color: #fff;
    font-size: 20px;
    text-align: right;
    display: inline-block;
}

.container{
	width:1024px;
	margin: 60px auto;	
} 

.area-frases{
    background-color: #000;
    margin-top: -1px;
}

.personagens{
    width: 100%;
    height: 50%;
}

.container-ipsum{   
    float: right;
    color: red;
    width: 320px;
    background-color: black;
    font-family: cursive;
    font-size: 15px;
    padding: 13px;
    border-radius: 10px;
}

.coracao{
    background-image: url(../img/chapolin-logo.png);
    width: 290px;
    height: 290px;
    margin: 0 auto;
}

.chapolin {
    background-image: url(../img/chapolin_.png);
    width: 40%;
    height: 335px;    
}

.texto-chapolin {    
    width: 450px;
    height: 155px;
    overflow-y: scroll;
    resize: none;
    margin: 25px 0px 0px 0px;
    padding: 20px 15px 20px 20px;	
    padding: 20px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    font-size:14px;
    border-radius: 5px;
    -webkit-box-shadow: 2px 2px 5px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    2px 2px 5px 0px rgba(50, 50, 50, 0.75);
    box-shadow:         2px 2px 5px 0px rgba(50, 50, 50, 0.75);    
}

.gerar_chapolin{
	width: 450px;
    height: 60px;
    background: #ef0808;
    color: #fef200;
    font-family: cursive;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    font-size: 19px;
    margin-top: 6px;
    padding: 15px 0px 0px 120px;
    -webkit-box-shadow: 2px 2px 5px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow: 2px 2px 5px 0px rgba(50, 50, 50, 0.75);
    box-shadow: 2px 2px 5px 0px rgba(50, 50, 50, 0.75);
    cursor: pointer;
}

.botoes_menu{
    margin-top:20px;
    float: right;
    width: 50%;
}

.quantidade-frases{
	list-style: none;
	display: inline-block;	
	width:40px;
	height:40px;
	background:#ef0808;
	color:#fef200;
    padding: 4px 13px;
    margin: 6px;
	font-size: 25px;
	font-weight: normal;
	cursor: pointer;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
}

.gerar_chapolin:hover{
	background:#fef200;
	color:#ef0808;
	border:3px solid #ef0808;
	padding: 1px 10px;
	padding: 15px 0px 0px 120px;
}

.quantidade-frases:hover,.quantidade-frases.active{
	background:#fef200;
	color:#ef0808;
	border:3px solid #ef0808;
	padding: 1px 10px;
}